.wrapper{
  display: flex;
  align-items: center;
  margin:  10vw 25vw;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 15px;
  box-shadow: 5px 5px  #646464;
}
.timer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.getmodal{
  position: fixed;
  left:0;
  top:0;
}
.modal{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  margin: 0 auto;
  width: 30vw;
  height: 20vh;
  background: #fc0;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  left: 40%;
  top: 40%;
}